services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fis_api
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      PORT: 3000
      MONGO_URI: mongodb://mongo:27017/fis_db
      JWT_SECRET: super-secret-en-docker
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    container_name: fis_mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
